In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_2024 = pd.read_csv('stats2024.csv')
df_2023 = pd.read_csv('stats2023.csv')

In [3]:
df_2024.head()

,"last_name, first_name",player_id,year,pitch_count_offspeed,pitch_count_fastball,pitch_count_breaking,pitch_count,pitch_hand,n,n_ff_formatted,...,n_fc_formatted,n_fs_formatted,n_kn_formatted,n_st_formatted,n_sv_formatted,n_fo_formatted,n_sc_formatted,n_fastball_formatted,n_breaking_formatted,n_offspeed_formatted
0,"Taillon, Jameson",592791,2024,106,1628,364,2483,R,2483,29.6,...,25.1,NaN,NaN,15.5,NaN,NaN,NaN,65.6,30.2,4.3
1,"Fedde, Erick",607200,2024,474,1834,0,2891,R,2891,0.3,...,32.3,NaN,NaN,20.2,NaN,NaN,NaN,63.4,20.2,16.4
2,"López, Pablo",641154,2024,599,1436,297,2986,R,2986,40.8,...,NaN,NaN,NaN,21.9,NaN,NaN,NaN,48.1,31.8,20.1
3,"Eflin, Zach",621107,2024,148,1602,466,2447,R,2447,8.9,...,28.2,NaN,NaN,9.4,NaN,NaN,NaN,65.5,28.5,6.0
4,"Crawford, Kutter",676710,2024,242,1857,202,2823,R,2823,33.7,...,32.1,8.6,NaN,18.5,NaN,NaN,NaN,65.8,25.6,8.6

In [4]:
df_2023.head()

,"last_name, first_name",player_id,year,p_formatted_ip,k_percent,batting_avg,p_era,pitch_hand,n,n_ff_formatted,...,n_fc_formatted,n_fs_formatted,n_kn_formatted,n_st_formatted,n_sv_formatted,n_fo_formatted,n_sc_formatted,n_fastball_formatted,n_breaking_formatted,n_offspeed_formatted
0,"Greinke, Zack",425844,2023,142.1,16.4,0.282,5.06,R,2219,26.6,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,49.3,34.1,16.5
1,"Verlander, Justin",434378,2023,162.1,21.5,0.226,3.22,R,2602,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,45.3,4.7
2,"Hill, Rich",448179,2023,146.1,19.5,0.281,5.41,L,2531,34.1,...,14.7,NaN,NaN,6.9,NaN,NaN,NaN,52.9,44.9,2.3
3,"Morton, Charlie",450203,2023,163.1,25.6,0.244,3.64,R,2842,31.7,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,46.5,43.2,10.3
4,"Scherzer, Max",453286,2023,152.2,28.0,0.221,3.77,R,2465,46.3,...,10.4,NaN,NaN,NaN,NaN,NaN,NaN,56.7,29.2,14.1

In [5]:
df_2024.isnull().sum()

last_name, first_name      0
player_id                  0
year                       0
pitch_count_offspeed       0
pitch_count_fastball       0
pitch_count_breaking       0
pitch_count                0
pitch_hand                 0
n                          0
n_ff_formatted             5
n_sl_formatted            25
n_ch_formatted            23
n_si_formatted            24
n_fc_formatted            42
n_fs_formatted            83
n_kn_formatted           105
n_st_formatted            60
n_sv_formatted           102
n_fo_formatted           107
n_sc_formatted           107
n_fastball_formatted       0
n_breaking_formatted       0
n_offspeed_formatted       4
dtype: int64

In [6]:
df_2023[df_2023['last_name, first_name'] == 'Cortes Jr., Nestor']

Empty DataFrame
Columns: [last_name, first_name, player_id, year, p_formatted_ip, k_percent, batting_avg, p_era, pitch_hand, n, n_ff_formatted, n_sl_formatted, n_ch_formatted, n_cu_formatted, n_si_formatted, n_fc_formatted, n_fs_formatted, n_kn_formatted, n_st_formatted, n_sv_formatted, n_fo_formatted, n_sc_formatted, n_fastball_formatted, n_breaking_formatted, n_offspeed_formatted]
Index: []

[0 rows x 24 columns]

In [7]:
df_2023.isnull().sum()

last_name, first_name      0
player_id                  0
year                       0
p_formatted_ip             0
k_percent                  0
batting_avg                0
p_era                      0
pitch_hand                 0
n                          0
n_ff_formatted             4
n_sl_formatted            23
n_ch_formatted            14
n_cu_formatted            16
n_si_formatted            30
n_fc_formatted            44
n_fs_formatted            83
n_kn_formatted            99
n_st_formatted            57
n_sv_formatted            97
n_fo_formatted            99
n_sc_formatted           100
n_fastball_formatted       0
n_breaking_formatted       0
n_offspeed_formatted       1
dtype: int64

In [8]:
merged_df = df_2024.merge(df_2023, how='left')
merged_df.head(10)

,"last_name, first_name",player_id,year,pitch_count_offspeed,pitch_count_fastball,pitch_count_breaking,pitch_count,pitch_hand,n,n_ff_formatted,...,n_fo_formatted,n_sc_formatted,n_fastball_formatted,n_breaking_formatted,n_offspeed_formatted,p_formatted_ip,k_percent,batting_avg,p_era,n_cu_formatted
0,"Taillon, Jameson",592791,2024,106,1628,364,2483,R,2483,29.6,...,NaN,NaN,65.6,30.2,4.3,NaN,NaN,NaN,NaN,NaN
1,"Fedde, Erick",607200,2024,474,1834,0,2891,R,2891,0.3,...,NaN,NaN,63.4,20.2,16.4,NaN,NaN,NaN,NaN,NaN
2,"López, Pablo",641154,2024,599,1436,297,2986,R,2986,40.8,...,NaN,NaN,48.1,31.8,20.1,NaN,NaN,NaN,NaN,NaN
3,"Eflin, Zach",621107,2024,148,1602,466,2447,R,2447,8.9,...,NaN,NaN,65.5,28.5,6.0,NaN,NaN,NaN,NaN,NaN
4,"Crawford, Kutter",676710,2024,242,1857,202,2823,R,2823,33.7,...,NaN,NaN,65.8,25.6,8.6,NaN,NaN,NaN,NaN,NaN
5,"Pfaadt, Brandon",694297,2024,329,1552,148,2793,R,2792,33.4,...,NaN,NaN,55.6,32.6,11.8,NaN,NaN,NaN,NaN,NaN
6,"Singer, Brady",663903,2024,55,1561,1196,2967,R,2966,11.3,...,NaN,NaN,52.6,45.5,1.9,NaN,NaN,NaN,NaN,NaN
7,"Keller, Mitch",656605,2024,21,1841,545,2851,R,2849,30.4,...,NaN,NaN,64.6,34.6,0.7,NaN,NaN,NaN,NaN,NaN
8,"Anderson, Tyler",542881,2024,1082,1791,41,2914,L,2914,39.6,...,NaN,NaN,61.5,1.4,37.1,NaN,NaN,NaN,NaN,NaN
9,"Burnes, Corbin",669203,2024,331,1581,1029,2996,R,2995,NaN,...,NaN,NaN,52.8,36.2,11.1,NaN,NaN,NaN,NaN,NaN

In [9]:
merged_df.tail(10)

,"last_name, first_name",player_id,year,pitch_count_offspeed,pitch_count_fastball,pitch_count_breaking,pitch_count,pitch_hand,n,n_ff_formatted,...,n_fo_formatted,n_sc_formatted,n_fastball_formatted,n_breaking_formatted,n_offspeed_formatted,p_formatted_ip,k_percent,batting_avg,p_era,n_cu_formatted
97,"Civale, Aaron",650644,2024,54,1784,460,2699,R,2699,9.9,...,NaN,NaN,66.1,31.9,2.0,NaN,NaN,NaN,NaN,NaN
98,"Miller, Bryce",682243,2024,469,1695,351,2749,R,2749,42.3,...,NaN,NaN,61.7,21.3,17.1,NaN,NaN,NaN,NaN,NaN
99,"Imanaga, Shota",684007,2024,893,1413,84,2590,L,2590,52.0,...,NaN,NaN,54.6,11.0,34.5,NaN,NaN,NaN,NaN,NaN
100,"Wacha, Michael",608379,2024,839,1311,452,2602,R,2602,23.8,...,NaN,NaN,50.4,17.4,32.2,NaN,NaN,NaN,NaN,NaN
101,"Castillo, Luis",622491,2024,408,1811,639,2859,R,2858,45.3,...,NaN,NaN,63.4,22.4,14.3,NaN,NaN,NaN,NaN,NaN
102,"Feltner, Ryan",663372,2024,379,1281,787,2578,R,2577,37.0,...,NaN,NaN,49.7,35.6,14.7,NaN,NaN,NaN,NaN,NaN
103,"Gibson, Kyle",502043,2024,275,1679,239,2764,R,2764,13.2,...,NaN,NaN,60.7,29.3,9.9,NaN,NaN,NaN,NaN,NaN
104,"Bassitt, Chris",605135,2024,284,1921,536,2959,R,2959,4.5,...,NaN,NaN,64.9,25.5,9.6,NaN,NaN,NaN,NaN,NaN
105,"Cortes Jr., Nestor",641482,2024,275,2098,25,2849,L,2849,44.2,...,NaN,NaN,73.6,16.7,9.7,NaN,NaN,NaN,NaN,NaN
106,"Quintana, Jose",500779,2024,544,1491,616,2819,L,2819,22.5,...,NaN,NaN,52.9,27.8,19.3,NaN,NaN,NaN,NaN,NaN

In [10]:
merged_df.isnull().sum()

last_name, first_name      0
player_id                  0
year                       0
pitch_count_offspeed       0
pitch_count_fastball       0
pitch_count_breaking       0
pitch_count                0
pitch_hand                 0
n                          0
n_ff_formatted             5
n_sl_formatted            25
n_ch_formatted            23
n_si_formatted            24
n_fc_formatted            42
n_fs_formatted            83
n_kn_formatted           105
n_st_formatted            60
n_sv_formatted           102
n_fo_formatted           107
n_sc_formatted           107
n_fastball_formatted       0
n_breaking_formatted       0
n_offspeed_formatted       4
p_formatted_ip           107
k_percent                107
batting_avg              107
p_era                    107
n_cu_formatted           107
dtype: int64

In [11]:
merged_df.shape

(107, 28)

In [12]:
merged_df.columns

Index(['last_name, first_name', 'player_id', 'year', 'pitch_count_offspeed',
       'pitch_count_fastball', 'pitch_count_breaking', 'pitch_count',
       'pitch_hand', 'n', 'n_ff_formatted', 'n_sl_formatted', 'n_ch_formatted',
       'n_si_formatted', 'n_fc_formatted', 'n_fs_formatted', 'n_kn_formatted',
       'n_st_formatted', 'n_sv_formatted', 'n_fo_formatted', 'n_sc_formatted',
       'n_fastball_formatted', 'n_breaking_formatted', 'n_offspeed_formatted',
       'p_formatted_ip', 'k_percent', 'batting_avg', 'p_era',
       'n_cu_formatted'],
      dtype='object')

In [13]:
df_all = pd.read_csv('all_stats.csv')

In [14]:
df_all.head()

,"last_name, first_name",player_id,year,p_formatted_ip,p_era,pitch_hand,n,n_ff_formatted,n_sl_formatted,n_ch_formatted,...,n_fc_formatted,n_fs_formatted,n_kn_formatted,n_st_formatted,n_sv_formatted,n_fo_formatted,n_sc_formatted,n_fastball_formatted,n_breaking_formatted,n_offspeed_formatted
0,"Colon, Bartolo",112526,2015,194.2,4.16,R,2683,29.1,9.7,7.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.6,10.0,7.4
1,"Burnett, A.J.",150359,2015,164.0,3.18,R,2490,11.7,NaN,8.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.8,29.4,8.8
2,"Hudson, Tim",218596,2015,123.2,4.44,R,1848,7.0,NaN,NaN,...,22.8,11.2,NaN,NaN,NaN,NaN,NaN,77.2,11.6,11.2
3,"Buehrle, Mark",279824,2015,198.2,3.81,L,2818,26.4,NaN,21.1,...,19.5,NaN,NaN,NaN,NaN,NaN,NaN,70.3,8.6,21.1
4,"Sabathia, CC",282332,2015,167.1,4.73,L,2693,25.2,22.5,14.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,63.6,22.5,14.0

In [15]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1106 entries, 0 to 1105
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   last_name, first_name  1106 non-null   object
 1   player_id              1106 non-null   int64
 2   year                   1106 non-null   int64
 3   p_formatted_ip         1106 non-null   float64
 4   p_era                  1106 non-null   float64
 5   pitch_hand             1106 non-null   object
 6   n                      1106 non-null   int64
 7   n_ff_formatted         1069 non-null   float64
 8   n_sl_formatted         817 non-null    float64
 9   n_ch_formatted         988 non-null    float64
 10  n_cu_formatted         954 non-null    float64
 11  n_si_formatted         918 non-null    float64
 12  n_fc_formatted         517 non-null    float64
 13  n_fs_formatted         140 non-null    float64
 14  n_kn_formatted         7 non-null      float64
 15  n_st_formatted         143 non-null    float64
 16  n_sv_formatted         28 non-null     float64
 17  n_fo_formatted         1 non-null      float64
 18  n_sc_formatted         2 non-null      float64
 19  n_fastball_formatted   1106 non-null   float64
 20  n_breaking_formatted   1106 non-null   float64
 21  n_offspeed_formatted   1086 non-null   float64
dtypes: float64(17), int64(3), object(2)
memory usage: 190.2+ KB